<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
                <a href="https://t.me/investingninja" title="Join our Telegram Group"><img src="{{site.baseurl}}/assets/images/join-our-telegram.png" alt="Join our Telegram Group" /></a>
             </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://t.me/investingninja">Join our Telegram Group</a></li>
            <li><a target="blank" href="https://platform.investingninja.club/signup-fxtrading-corp">FX Trading Corp Sign UP</a></li>
            </ul>
        </div>
            
</div>